---
layout: layouts/base.njk
title: Shop
---

<div class="container">
    <section class="hero">
        <h1>{{ shop.heroHeading }}</h1>
        <p>{{ shop.heroText }}</p>
    </section>

    <section class="shop-highlight">
        <div class="shop-content">
            <div class="shop-image">
                <img src="{{ shop.highlightImage }}" alt="Etsy Shop Preview" class="shop-preview">
            </div>
            <div class="shop-description">
                <h2>{{ shop.highlightHeading }}</h2>
                <p>{{ shop.highlightText }}</p>
                <a href="{{ shop.highlightButtonLink }}" class="button" target="_blank">{{ shop.highlightButtonText }}</a>
            </div>
        </div>
    </section>
</div>